body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: #333;
    color: white;
    padding: 1rem;
}
main {
    padding: 2rem;
}
footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Define the class */
.highlightedText {
    background-color: yellow;
    font-weight: bold;
    padding: 5px;
}

p {
    margin: 30px;
    padding: 20px;
}


/*Use a CSS selector to change the color of <a> when you hover the cursor over it. */

a:hover {
    background-color: blue;
    color: black;
    text-decoration: none;

}



#intro {
    font-size: 24px;
    color: green;
}

